.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 16px 24px;
  // Needed for ::before pseudo-element positioning
  isolation: isolate;
  // Safari 26: Always use green as background-color for tab bar tinting
  // Visual appearance is controlled via ::before pseudo-element
  background-color: $light-background;
  color: $dark-grey;
  border-bottom: 3px solid $light-background;
  transition: color 0.15s ease-out, border-color 0.15s ease-out;
  will-change: color;

  // White overlay for visual appearance (Safari sees green background-color)
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    z-index: -1;
    transition: opacity 0.15s ease-out;
  }

  // When header should appear green (hide white overlay)
  &.header--green {
    color: $light-color;
    border-bottom-color: transparent;

    // Hide white overlay to show green background
    &::before {
      opacity: 0;
    }

    .menu a {
      color: $light-color;

      // Mobile menu always has white background, so links stay green
      @media #{$media-size-phone} {
        color: $light-background;
      }
    }

    .menu-trigger {
      fill: $light-color;
    }
  }

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media #{$media-size-phone} {
      flex-direction: row-reverse;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: $max-width;
    padding: 0 20px;
  }
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
}

.theme-toggler {
  fill: currentColor;
}

.not-selectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
