.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 16px 24px;
  background: #ffffff;
  color: $dark-grey;
  border-bottom: 3px solid $light-background;
  transition: background-color 0.15s ease-out, color 0.15s ease-out, border-color 0.15s ease-out;
  will-change: background-color, color;

  // When scrolled into white content area
  &.header--green {
    background: $light-background;
    color: $light-color;
    border-bottom-color: transparent;

    .menu a {
      color: $light-color;

      // Mobile menu always has white background, so links stay green
      @media #{$media-size-phone} {
        color: $light-background;
      }
    }

    .menu-trigger {
      fill: $light-color;
    }
  }

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media #{$media-size-phone} {
      flex-direction: row-reverse;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: $max-width;
    padding: 0 20px;
  }
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
}

.theme-toggler {
  fill: currentColor;
}

.not-selectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
