@charset "UTF-8";

/* Light theme color */
$light-background: #007163; // Petrol green as the main color of the corporate design
$light-background-secondary: #4a8a7c;
$light-background-header: #ffffff;
$light-color: #ffffff;
$light-color-variant: #d9f2ec;
$light-color-secondary: #ffffff;
$light-border-color: #5e9e8f;
$light-table-color: #5e9e8f;

/* Dark theme colors */
$dark-background: #007163;
$dark-background-secondary: #4a8a7c;
$dark-background-header: #ffffff;
$dark-color: #ffffff;
$dark-color-variant: #d9f2ec;
$dark-color-secondary: #5e9e8f;
$dark-border-color: #5e9e8f;
$dark-table-color: #5e9e8f;

/* General colors */
$dark-grey: #4d4d4d;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 860px;
