{{ define "main" }}
    <!-- Hero Section (Green) -->
    <section class="hero hero--page">
        <div class="hero__inner">
            <h1 class="hero__title">{{ .Title | markdownify }}</h1>
            {{ with .Params.description }}
            <p class="hero__subtitle">{{ . }}</p>
            {{ end }}
        </div>
    </section>

    <!-- Content Section (White) -->
    <main class="post post--white">
        {{ if ne .Type "page" }}
            <div class="post-info">
                {{ if .IsTranslated }}
                    {{ i18n "postAvailable" }}
                    {{ range .Translations }}
                        <a href="{{ .Permalink }}"><span class="flag fi fi-{{ index $.Site.Data.langFlags (.Lang) }}"></span></a>
                    {{ end}}
                {{ end }}
            </div>
        {{ end }}

        <article>
            {{ if .Params.Cover }}
                <figure class="post-cover">
                    <img src="{{ .Params.Cover | absURL }}" alt="{{ .Title }}" />

                    {{ if .Params.CoverCaption }}
                        <figcaption class="center">{{ .Params.CoverCaption | markdownify }}</figcaption>
                    {{ end }}
                </figure>
            {{ end }}

            {{ if .Params.toc }}
                <hr />
                <aside id="toc">
                <div class="toc-title">{{ i18n "tableOfContents" }}</div>
                    {{ .TableOfContents }}
                </aside>
                <hr />
            {{ end }}

            <div class="post-content">
                {{ .Content }}
            </div>
        </article>
    </main>
{{ end }}
