.footer {
  flex-grow: 0;
  color: $light-color-secondary;

  &__inner {
    display: flex;
    align-items: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 760px;
    max-width: 100%;

    @media #{$media-size-tablet} {
      flex-direction: column;
      padding: 0px 20px 20px 20px;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: start;
    font-size: 1rem;
    color: $light-color-secondary;
    width: 100%;

    @media #{$media-size-tablet} {
      flex-direction: row;
      margin-top: 10px;
    }

    & > *:not(:last-child)::after {
      padding: 0 5px;

      @media #{$media-size-tablet} {
          content: "";
          padding: 0;
      }
    }

    & > *:last-child {
      padding: 0 0px;

      @media #{$media-size-tablet} {
          padding: 0;
      }
    }
  }

  &__column {
    flex: 1;

    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;

      p {
        margin: 0; // Remove default margins for better alignment
      }
    }
  }

  &__logo {
    max-width: 150px;
    padding-bottom: 10px;
    overflow: hidden; // Hide extra SVG whitespace
    display: flex; // Ensure child SVG or img fits container
    align-items: center;
    justify-content: center;

    svg, img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__company-info {
    p {
      margin: 5px 0; // Add spacing between lines
    }
  }

  &__links {
    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.footer__text--small {
  font-size: 0.75rem; /* Adjust as needed */
  margin: 0.25rem 0;  /* Smaller top and bottom spacing */
}
