@charset "UTF-8";

/* Light theme color */
$light-background: #007163; // Petrol green as the main background color
$light-background-secondary: #4a8a7c; // Slightly lighter petrol green for secondary background
$light-background-header: #ffffff; // Darker petrol green for header background
$light-color: #ffffff; // White for text
$light-color-variant: #d9f2ec; // Very light petrol green for contrast
$light-color-secondary: #ffffff; // Muted petrol green for secondary text
$light-border-color: #5e9e8f; // Border color with petrol green tone
$light-table-color: #5e9e8f; // Table border color with petrol green tone

/* Dark theme colors */
$dark-background: #007163; // Darker petrol green for dark background
$dark-background-secondary: #007163; // Even darker petrol green for secondary background
$dark-background-header: #ffffff; // Darkest petrol green for header background
$dark-color: #d9f2ec; // Light petrol green for text in dark theme
$dark-color-variant: #ffffff; // Muted petrol green for contrast
$dark-color-secondary: #5e9e8f; // Muted petrol green for secondary text
$dark-border-color: #007163; // Petrol green for borders
$dark-table-color: #007163; // Petrol green for table borders

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 860px;
