.menu__language {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-left: 12px;

  @media #{$media-size-phone} {
    margin-left: 0;
    margin-top: 6px;
  }
}

.menu__language-link {
  color: inherit;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }

  &.is-active {
    font-weight: 700;
  }
}

.menu__language-separator {
  margin: 0 6px;
  opacity: 0.6;
}
