<!DOCTYPE html>
{{ $langAttr := cond (ne .Site.LanguageCode "") .Site.LanguageCode .Lang }}
<html lang="{{ $langAttr }}">
    <head>
        {{ partial "head.html" . }}
    </head>

{{ block "body" . }}
        <body{{ with .Params.downloadFile }} data-download-file="{{ . }}"{{ end }}{{ with .Params.downloadDelay }} data-download-delay="{{ . }}"{{ end }}>
{{ end }}

        <div class="container">
            {{ partial "header.html" . }}

            <div class="content">
                {{ block "main" . }}{{ end }}
            </div>

            {{ block "footer" . }}
                {{ partial "footer.html" . }}
            {{ end }}
        </div>

        {{ partial "javascript.html" . }}
    </body>
</html>
