{{ $main := resources.Get "js/main.js" }}
{{ $menu := resources.Get "js/menu.js" }}
{{ $secureJS := slice $main $menu | resources.Concat "bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

{{ with resources.Get "js/redirect-vcard.js" }}
  {{ $vcard := . | resources.Minify | resources.Fingerprint "sha512" }}
  <script type="text/javascript" src="{{ $vcard.RelPermalink }}" integrity="{{ $vcard.Data.Integrity }}" defer></script>
{{ end }}
