<footer class="footer">
    <div class="footer__inner">
        <div class="footer__content">
            <!-- Column 1: Logo and Company Information -->
            <div class="footer__column footer__column--left">
                <div class="footer__row">
                    {{ if .Site.Params.footer.logoPath }}
                    <div class="footer__logo-column">
                        <img src="{{ .Site.Params.footer.logoPath }}" alt="Company Logo" class="footer__logo"
                             {{ with .Site.Params.footer.logoMaxWidth }}style="max-width: {{ . }};"{{ end }}>
                    </div>
                    {{ end }}
                    <div class="footer__info-column">
                        {{ if .Site.Params.footer.companyName }}
                        <p class="footer__text footer__text--small">{{ .Site.Params.footer.companyName }}</p>
                        {{ end }}
                        {{ if .Site.Params.footer.companyAddress }}
                        <div>
                            {{ range .Site.Params.footer.companyAddress }}
                            <p class="footer__text footer__text--small">{{ . }}</p>
                            {{ end }}
                        </div>
                        {{ end }}
                        {{ if .Site.Params.footer.companyContact }}
                        <p class="footer__text footer__text--small">{{ .Site.Params.footer.companyContact }}</p>
                        {{ end }}
                    </div>
                </div>
            </div>
            <!-- Column 2: Legal Links -->
            <div class="footer__column footer__column--right">
                {{ if .Site.Params.footer.impressumLink }}
                <p><a href="{{ .Site.Params.footer.impressumLink }}">Impressum</a></p>
                {{ end }}
                {{ if .Site.Params.footer.privacyPolicyLink }}
                <p><a href="{{ .Site.Params.footer.privacyPolicyLink }}">Datenschutz</a></p>
                {{ end }}
            </div>
        </div>
    </div>
</footer>
